<h1>Listing products</h1>

<table id="table_products">
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br />

<%= link_to 'New Product', new_product_path %>

<script type="text/javascript">
	function get_products_success(response){
		var i = 0;
		for(i = 0; i < response.length; i++){
			var product = response[i];
			var tr_string = "<tr>";
			tr_string += "<td>"+ product.name +"</td>";
			tr_string += "<td>"+ product.desc +"</td>";
			tr_string += "<td>"+ product.price +"</td>";
			tr_string += "</tr>";
			$("#table_products").append(tr_string);
		}
	}
	
	function get_products_failure(response){
	}

	var hash = {};
	
	jsonRequest("/jsonproducts",hash,get_products_success, get_products_failure);
</script>
